.navbarRow{
    background-color: #1976d2;
    height: 8vh;
}
.col{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1%;
    color: white;
    font-weight: 500;
}
.image{
    width: 40px;
    height: 40px;
}